:root {
  --main-navy: #041e3a;
  --main-blue: #345e8c;
  --main-pink: #ed51a4;
  --bg: #efefef;
  --sub-pink: #e8aad1;
  --sub-blue: #5886ba;
  --sub-skyblue: #a0cae0;
  --border1: #555555;
  --border2: #a9a9a9;
  --border3: #dadada;
  --text-black: #212121;
  --text-gray: #555555;
  --text-beige: #efe8e0;
  --text-white: #ffffff;

  --fw-bold: 700;
  --fw-regular: 400;

  --border-radius: 8px;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/woff/Pretendard-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/woff/Pretendard-Bold.woff')
    format('woff');
}

html {
  font-size: 10px;
}

body {
  font-family: 'Pretendard', sans-serif;
  cursor: default;
}

/* 폰트사이즈 */

.font28b {
  font-size: 2.8rem;
  font-weight: var(--fw-bold);
}

.font28 {
  font-size: 2.8rem;
}

.font20b {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.font20 {
  font-size: 2rem;
}

.font18b {
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}

.font18 {
  font-size: 1.8rem;
}

.font16b {
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
}

.font16 {
  font-size: 1.6rem;
}

.font14b {
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}

.font14 {
  font-size: 1.4rem;
}

.font12b {
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.font12 {
  font-size: 1.2rem;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background-color: var(--bg);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-blue);
  border-radius: 25px;
}

/* 화면엔 안 보이지만, 문서 구조엔 존재, 스크린 리더가 읽을 수 있음 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* 
.inner {
  background: rgba(255, 0, 0, 0.128);
} */

body:has(.top-banner) main {
  margin-top: 160px;
  margin-bottom: 100px;
}

body:not(:has(.top-banner)) main {
  margin-top: 120px;
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  body:has(.top-banner) header .header-inner .header-left .ham-btn .ham-nav-wrap .snb-list-wrap {
    max-height: calc(100% - 35rem);
  }

  body:not(:has(.top-banner))
    header
    .header-inner
    .header-left
    .ham-btn
    .ham-nav-wrap
    .snb-list-wrap {
    max-height: calc(100% - 30rem);
  }
}

@media (max-width: 768px) {
  body:has(.top-banner) main {
    margin-top: 120px;
    margin-bottom: 100px;
  }

  body:not(:has(.top-banner)) main {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}
