:root {
  --main-navy: #041e3a;
  --main-blue: #345e8c;
  --main-pink: #ed51a4;
  --color-bg: #efefef;
  --sub-pink: #e8aad1;
  --sub-blue: #5886ba;
  --sub-skyblue: #a0cae0;
  --border1: #555555;
  --border2: #a9a9a9;
  --border3: #dadada;
  --text-black: #212121;
  --text-gray: #555555;
  --text-beige: #efe8e0;
  --text-white: #ffffff;

  --fw-bold: 700;
  --fw-regular: 400;

  --border-radius: 8px;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'YFavorite';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'YFavorite';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
}

/* 폰트사이즈 */
.font28b {
  font-size: 28px;
  font-weight: var(--fw-bold);
}

.font28 {
  font-size: 28px;
}

.font20b {
  font-size: 20px;
  font-weight: var(--fw-bold);
}

.font20 {
  font-size: 20px;
}

.font18b {
  font-size: 18px;
  font-weight: var(--fw-bold);
}

.font18 {
  font-size: 18px;
}

.font16b {
  font-size: 16px;
  font-weight: var(--fw-bold);
}

.font16 {
  font-size: 16px;
}

.font14b {
  font-size: 14px;
  font-weight: var(--fw-bold);
}

.font14 {
  font-size: 14px;
}

.font12b {
  font-size: 12px;
  font-weight: var(--fw-bold);
}

.font12 {
  font-size: 12px;
}

.hidden {
  display: hidden !important;
}
