footer {
  width: 100%;

  .inner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .left-container {
      .footer-logo {
        width: 173px;
        margin-bottom: 28px;
        border-bottom: none;
      }

      address {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-style: normal;

        .font12 {
          color: var(--text-gray);
          cursor: default;
        }

        .company-info {
          display: flex;
          gap: 10px;

          span {
            &::after {
              content: '|';
              color: var(--border3);
              margin: 0 0 0 10px;
            }
          }

          span:last-child:after {
            content: '';
            margin: 0;
          }
        }
      }
    }

    .right-container {
      display: flex;
      gap: 75px;

      .info-box,
      .cs-box {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .title {
          margin-bottom: 4px;
          cursor: default;
        }

        &.cs-box {
          cursor: default;
        }
      }
    }
  }

  .copy-wrap {
    width: 100%;
    background: var(--main-navy);
    margin-top: 35px;

    .inner {
      width: 1440px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      padding: 20px 0;

      .user-data {
        color: var(--border3);
        display: flex;

        button {
          cursor: pointer;
          background-color: inherit;
          color: #fff;
        }

        button::after {
          content: '|';
          color: var(--border1);
          margin: 0 10px 0 10px;
        }

        button:last-child::after {
          content: '';
          margin: 0;
        }
      }

      p {
        color: var(--border3);
      }
    }
  }
}

@media (max-width: 1440px) {
  footer {
    .inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1000px;
      gap: 4rem;

      .left-container {
        .footer-logo {
          margin: 2rem auto;
        }

        address {
          align-items: center;

          .company-info {
            span {
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .right-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1.6rem;

        .info-box .cs-box .font20b {
          font-size: 1.6rem;
        }

        .font14 {
          display: none;
        }

        .info-box {
          display: none;
        }
      }
    }

    .copy-wrap {
      .inner {
        width: 1000px;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    .inner {
      width: 100%;
    }

    .copy-wrap {
      .inner {
        width: 100%;
      }
    }
  }
}

@media (max-width: 430px) {
  footer .inner .left-container address .company-info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }

  footer .copy-wrap .inner {
    gap: 20px;
  }
}
