.log-inner {
  height: 765px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.2);
  gap: 20px;
}

h2 {
  color: var(--text-black);
  margin-bottom: 20px;
}

/* input 공통사항 */
input {
  border: none;
  border-radius: 4px;
  background-color: var(--bg);
}
.log-box > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.log-box > form > input {
  padding-left: 30px;
  width: 480px;
  height: 50px;
}
.keep-box {
  margin-top: 20px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.keep-box > input {
  width: 20px;
  height: 20px;
}
.keep-box > span:last-of-type {
  color: var(--border1);
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--bg);
  background-size: 16px 16px;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.log-in-btn {
  margin-top: 40px;
  display: block;
  width: 480px;
  height: 40px;
  border-radius: 4px;
  background: var(--main-pink);
  color: var(--text-white);
  text-align: center;
}
.log-in-btn > a {
  display: inline-block;
  /* border: 1px solid black; */
  width: 100%;
  line-height: 40px;
}
.log-in-btn:hover {
  background: #c22779;
}
.find-box {
  margin-top: 20px;
  display: flex;
  gap: 24px;
  color: var(--border2);
  padding-right: 35px;
  justify-content: center;
}

.user-data {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 25px;
}
.user-data > a {
  color: var(--text-gray);
}
