main {
  /* 탭베너 */
  .tab-banner-wrap {
    max-width: 1980px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 700px;

    .inner {
      width: 1440px;
      margin: 0 auto;

      ul.teb-nav {
        display: flex;
        gap: 12px;
        justify-content: center;

        li {
          > a {
            padding: 10px 16px;

            &:hover {
              color: var(--main-pink);
            }
          }

          .tab-grid-container {
            width: 1440px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            margin-top: 50px;
            gap: 10px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);

            .box1 {
              grid-row: 1 / 3;
              grid-column: 1 /3;
              height: 700px;
              background: #ccc;

              &::after {
                content: '프리미엄 명함';
                position: absolute;
                color: #fff;
                font-size: 20px;
                bottom: 30px;
                right: 30px;
              }

              > a::before {
                content: '';
                width: 100%;
                height: 100%;
                display: inline-block;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: background-size 0.3s ease;
                transform: scale(1);
                transition: transform 0.3s ease;
              }
            }

            .box2 {
              height: 345px;

              > a::before {
                content: '';
                width: 100%;
                height: 100%;
                display: inline-block;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: background-size 0.3s ease;
                transform: scale(1);
                transition: transform 0.3s ease;
              }

              &:hover a::before {
                transform: scale(1.1);
                transition: ease 0.3s;
              }
            }

            .banner-img1::before {
              background: url(../images/tab-banner1.jpg) no-repeat center;
            }

            .banner-img2::before {
              background: url(../images/tab-banner2.jpg) no-repeat center;
            }

            .banner-img3::before {
              background: url(../images/tab-banner3.jpg) no-repeat center;
            }

            .banner-img4::before {
              background: url(../images/tab-banner4.jpg) no-repeat center;
            }

            .banner-img5::before {
              background: url(../images/tab-banner5.jpg) no-repeat center;
            }

            .banner-img6::before {
              background: url(../images/tab-banner6.jpg) no-repeat center;
            }

            .banner-img7::before {
              background: url(../images/tab-banner7.jpg) no-repeat center;
            }

            .banner-img8::before {
              background-color: blue;
            }

            .banner-img9::before {
              background-color: pink;
            }

            div {
              position: relative;
              border-radius: 8px;
              overflow: hidden;

              &:hover {
                .hover-wrap {
                  opacity: 1;
                  transition: all 0.3s;
                }
              }

              .hover-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                color: #fff;

                opacity: 0;

                .title {
                  font-weight: 300;
                  font-size: 1.4em;
                }

                .add {
                  font-weight: 600;
                  font-size: 0.8em;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 2px;
                }
              }
            }

            &.banner-card,
            &.banner-sign {
              display: none;
            }
          }

          &.nav-card:hover .banner-card {
            display: grid;
          }

          &.nav-sign:hover .banner-sign {
            display: grid;
          }
        }
      }
    }
  }

  /* 카드베너 */
  .card-banner-wrap {
    width: 1440px;
    margin: 100px auto 0 auto;
    display: flex;
    gap: 20px;

    .cb {
      width: 50%;
      height: 270px;
      border: 1px solid #ddd;
      border-radius: 16px;
      position: relative;

      a {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 40px;
      }

      &.card-banner1 {
        background: var(--main-pink);

        a::after {
          content: '';
          position: absolute;
          width: 350px;
          height: 350px;
          bottom: 0;
          left: 0;
          background: url(../images/card-banner1.png) no-repeat center/contain;
        }

        &:hover {
          background-color: #d70072;
        }

        .main-title {
          text-align: end;
        }
        .sub-title {
          color: #fff;
          text-align: end;
        }

        .bottom-title {
          text-align: end;
        }
      }
      &.card-banner2 {
        background: #5f73b0;

        a::after {
          content: '';
          position: absolute;
          width: 350px;
          height: 350px;
          bottom: -16px;
          right: -16px;
          background: url(../images/card-banner2.png) no-repeat center/contain;
        }

        &:hover {
          background: #2245ae;
        }
      }

      .main-title {
        font-family: 'YFavorite';
        font-weight: 700;
        color: #fff;
        font-size: 40px;
      }

      .sub-title {
        font-size: 24px;
        margin-top: 16px;
        font-weight: 500;
      }

      .bottom-title {
        margin-top: 50px;
        display: block;
        color: #fff;
      }
    }
  }

  /* 아이템 */
  .item-wrap {
    max-width: 1980px;
    margin: 50px auto 0 auto;

    .inner {
      width: 1440px;
      margin: 0 auto;

      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        span {
          color: var(--text-gray);
          margin-left: 4px;
        }

        .add {
          padding: 8px 16px;
          background: var(--main-blue);
          color: #fff;
          border-radius: 4px;

          &:hover {
            background-color: var(--text-black);
          }
        }
      }

      .item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;

        .item-box {
          width: 100%;
          aspect-ratio: 1/1.25;
          border-radius: 8px;

          .thumbnail {
            width: 100%;
            aspect-ratio: 1/1;
            background-color: #d9d9d9;
          }

          .text-box {
            margin-top: 8px;

            .badge-wrap {
              display: flex;
              gap: 4px;

              span {
                padding: 4px 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;

                &::before {
                  content: '';
                  line-height: 1;
                  font-size: 14px;
                }
              }

              .new {
                border: 1px solid var(--main-pink);
                &::before {
                  content: 'NEW';
                  color: var(--main-pink);
                }
              }

              .best {
                border: 1px solid var(--sub-blue);
                background: var(--sub-blue);
                &::before {
                  content: 'BEST';
                  color: var(--sub-blue);
                  color: #fff;
                }
              }

              .md {
                border: 1px solid var(--text-black);
                &::before {
                  content: 'MD 추천';
                  color: var(--text-black);
                }
              }

              .soldout {
                background: var(--text-black);
                &::before {
                  content: '품절';
                  color: #fff;
                }
              }
            }

            .title {
              margin-top: 8px;
            }

            .price {
              margin-top: 16px;
              font-size: 24px;
              font-weight: 800;

              span {
                font-size: 20px;
                font-weight: 400;
                margin-left: 4px;
              }
            }
          }
        }
      }
    }

    /* 유튜브 */
    &.youtube-item-wrap {
      > .inner {
        width: 100%;
        max-width: 1980px;
        > .title-wrap {
          width: 1440px;
          margin: 0 auto 20px auto;
          > h2 > span {
            color: var(--main-pink);
          }
        }

        .item-container {
          max-width: 1980px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border: 1px solid blue;
          height: fit-content;

          .youtube-box {
            width: 350px;
            min-width: 350px;
            aspect-ratio: 1 / 0.7;
            height: auto;

            display: flex;
            flex-direction: column;
            gap: 8px;

            &.now {
              width: 500px;
              min-width: 500px;
              aspect-ratio: 1 / 0.6;
            }

            iframe {
              width: 100%;
              height: auto;
              aspect-ratio: 1 / 0.56;
              border-radius: 8px;
              overflow: hidden;
            }

            p {
              text-align: center;
            }
          }

          .button-wrap {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            margin: 0 auto;
            width: 550px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              border: 2px solid var(--main-pink);
              width: 40px;
              height: 40px;
              border-radius: 50%;
              cursor: pointer;

              &:hover {
                background: var(--main-pink);
              }
            }
          }
        }
      }
    }

    &.reivew-item-wrap {
      .inner .item-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;

        .item-box {
          border: 1px solid blue;
          width: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 8px;

          &:first-child {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            width: 100%;
          }
        }
      }
    }
  }
}
