main {
  /* 공통  */
  .section-title {
    font-size: 3rem;
  }

  /* 섹션타이틀 더보기 버튼 */
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;

    .title-left {
      display: flex;
      gap: 12px;
      align-items: baseline;
    }

    .more-btn {
      a {
        display: block;
        background-color: var(--main-blue);
        border-radius: 4px;
        padding: 8px 16px;
        color: #fff;
        line-height: 1;
      }
    }

    .more-btn:hover a {
      background-color: var(--text-black);
    }
  }

  /* 탭베너 */
  /* 김유겸 */
  .tab-banner-wrap {
    margin-bottom: 800px;

    .inner {
      position: relative;

      .tab-nav {
        margin: 0 auto;
        max-width: 708px;
        display: flex;
        justify-content: space-between;

        > li {
          padding-bottom: 10px;

          .default-wrap::before {
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--text-white);
            background: rgba(0, 0, 0, 0.6);
            padding: 4px 8px;
            position: absolute;
            z-index: 10;
            bottom: 30px;
            right: 30px;
            border-radius: 4px;
          }

          &.nav-print .default-wrap::before {
            content: '베스트 상품 [맞춤 실사출력]';
          }
          &.nav-card .default-wrap::before {
            content: '베스트 상품 [프리미엄 명함]';
          }
          &.nav-signboard .default-wrap::before {
            content: '베스트 상품 [프리미엄 간판]';
          }
          &.nav-prize .default-wrap::before {
            content: '베스트 상품 [크리스탈 상패]';
          }
          &.nav-banner .default-wrap::before {
            content: '베스트 상품 [프리미엄 현수막]';
          }
          &.nav-promotion .default-wrap::before {
            content: '베스트 상품 [화이트 크래프트지 봉투]';
          }
          &.nav-coupon .default-wrap::before {
            content: '베스트 상품 [고급지 쿠폰]';
          }
          &.nav-catalouge .default-wrap::before {
            content: '베스트 상품 [프리미엄 카탈로그]';
          }
        }

        > li > a,
        > .font20b {
          display: flex;
          padding: 10px 16px;
          color: var(--text-black);
        }

        > li:hover > a {
          color: var(--main-pink);
        }

        li:hover > .tab-grid-container {
          display: grid;
          z-index: 80;
        }

        li:last-child > .tab-grid-container {
          display: grid;
        }
      }

      .tab-grid-container {
        position: absolute;
        display: none;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 700px;
        max-width: 1440px;
        gap: 10px;
        left: 0;
        top: 100%;

        .box1,
        .box2 {
          border-radius: 8px;
          overflow: hidden;
        }

        .box1 {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
          }

          .hover-wrap1 {
            width: 100%;
            height: 100%;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            gap: 5px;
            transition: 0.3s;

            > span:first-child {
              font-size: 2.8rem;
            }

            > span:last-child {
              font-size: 1.4rem;
              text-decoration: underline;
              margin-top: 16px;
            }
          }

          a > .default-wrap {
            height: 100%;
          }

          &:hover {
            .hover-wrap1 {
              opacity: 1;
              transition: 0.3s;
            }

            .default-wrap::before {
              display: none;
            }
          }
        }

        .box2 {
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
          }

          .hover-wrap2 {
            width: 100%;
            height: 100%;
            color: white;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s;

            span.font20b {
              font-size: 2rem;
              font-weight: bold;
            }
          }

          &:hover {
            img {
              scale: 1.1;
              filter: contrast(105%);
            }

            .hover-wrap2 {
              opacity: 1;
            }
          }
        }
      }

      .mobile-grid {
        display: NONE;
      }
    }
  }

  /* 카드베너 */
  /* 오영서 */
  .banner-section {
    padding-top: 100px;

    .inner {
      gap: 16px;
      display: flex;
    }

    .banner-left,
    .banner-right {
      flex: 1;
      border-radius: 8px;
      position: relative;

      .img-box {
        position: absolute;
      }

      a {
        padding: 40px;
        display: block;
      }

      &.banner-left {
        background-color: var(--main-pink);
        .img-box {
          bottom: 0px;
          left: 0;
        }

        .item p {
          text-align: end;

          &.middle {
            color: var(--text-black);
          }
        }
      }
      &.banner-left:hover {
        background-color: #d70072;
      }

      &.banner-right {
        background-color: var(--sub-blue);
        .img-box {
          width: 32rem;
          height: 2.8rempx;
          bottom: 10px;
          right: -20px;
          transform: rotate(8deg);
        }
      }
      &.banner-right:hover {
        background-color: #2245ae;
      }

      .item {
        display: flex;
        flex-direction: column;
        color: #fff;

        .banner-title {
          margin-bottom: 10px;
          font-family: 'YFavorite';
          font-size: 4.4rem;
          font-weight: 700;
        }

        .middle {
          padding-bottom: 60px;
          font-size: 2.4rem;
        }
      }
    }
  }

  /* 아이템 섹션*/
  /* 오영서 */
  .item-container {
    margin: 100px 0;
    padding: 0 10px;

    .inner {
      .card-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 1.3%;
        justify-content: space-between;

        .card {
          width: 32%;

          .img-box {
            border-radius: 8px;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 1 / 1;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          .item-title {
            margin-top: 20px;

            .badge-wrap {
              display: flex;
              gap: 8px;

              span {
                padding: 4px 0;
                border-radius: 4px;

                &::after {
                  padding: 2px 4px;
                  border-radius: 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

                &.best::after {
                  content: 'BEST';
                  background: var(--sub-blue);
                  color: #fff;
                  border: 1px solid var(--sub-blue);
                }

                &.new::after {
                  content: 'NEW';
                  border: 1px solid var(--main-pink);
                  color: var(--main-pink);
                }

                &.md::after {
                  content: 'MD추천';
                  border: 1px solid var(--text-black);
                  color: var(--text-black);
                }

                &.soldout::after {
                  content: '품절';
                  background-color: var(--main-navy);
                  color: #fff;
                  border: 1px solid var(--main-navy);
                }
              }
            }

            .card-title {
              margin: 8px 0 16px;
            }

            .price {
              strong {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
    .new-item,
    .best-item {
      display: flex;
      justify-content: center;
      padding-top: 100px;
      /* background-color: rgba(0, 200, 0, 0.1); */
    }
  }

  /* 라인베너 */
  /* 김초원 */
  .line-banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    margin-top: 100px;
    background: #dc3545;
    overflow: hidden;
    gap: 40px;

    .line-banner-left {
      height: 100%;
      width: auto;
    }

    .line-banner-left > img {
      transition: 0.3s;
    }

    .line-banner-left > img:hover {
      transform: scale(1.1);
    }

    .line-banner-text-1 {
      font-size: 3.2rem;
      font-weight: var(--fw-bold);
      color: var(--text-white);
      margin-bottom: 8px;
    }

    .line-banner-text-2 {
      font-size: 2rem;
      font-weight: var(--fw-bold);
      color: #fff100;
      margin-bottom: 2px;
    }

    .line-banner-text-3 {
      margin-bottom: 8px;
      font-size: 1.4rem;
      font-weight: var(--fw-regular);
      color: var(--text-white);
    }

    .line-banner-text-4 a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 19px;
      font-size: 1.2rem;
      font-weight: var(--fw-regular);
      color: var(--text-white);
      background-color: var(--text-black);
      border-radius: 50px;
    }
  }

  /* 유튜브 */
  /* 김초원 */
  .youtube-wrap-inner {
    /* common.css의 inner로 수정 예정 */
    width: 100%;
    margin-top: 100px;
    position: relative;

    .youtube-title {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    .youtube-title .title-left span {
      color: var(--main-pink);
      font-size: 3rem;
      font-weight: 700;
    }

    .youtube-content {
      max-width: 1920px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      gap: 40px;
      overflow: hidden;
      margin: 0 auto;
      -webkit-overflow-scrolling: touch;
    }

    .youtube-content .youtube-list {
      width: 560px;
      aspect-ratio: 16/9;
      flex: 0 0 20%;
      position: relative;
    }
    .youtube-content .youtube-list.active-center {
      flex: 0 0 30%;
      transition: transform 0.3s ease;

      p {
        font-size: 2rem;
      }
    }
    .youtube-content .youtube-list iframe {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      border: none;
    }

    .youtube-content p {
      text-align: center;
      margin-top: 10px;
      font-weight: var(--fw-bold);
      font-size: 1.6rem;
    }

    iframe {
      border-radius: 8px;
    }

    .btn {
      position: absolute;
      top: 50%;
    }

    .arrow-btn-left {
      left: 33%;
    }

    .arrow-btn-right {
      right: 33%;
    }

    .btn > a {
      width: 60px;
      height: 60px;
      background-color: rgba(224, 224, 224, 0.8);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow-btn-left > a::after {
      content: '';
      background: url(/images/arrow-left.png);
      width: 24px;
      height: 24px;
    }

    .arrow-btn-right > a::after {
      content: '';
      background: url(/images/arrow-right.png);
      width: 24px;
      height: 24px;
    }

    .arrow-btn-left > a:hover,
    .arrow-btn-right > a:hover {
      /* border: 1px solid var(--main-navy); */
      background-color: var(--main-navy);
    }
  }

  /* 베스트리뷰 */
  /* 김초원 */
  .best-review-wrap {
    > .best-review-inner {
      /* common.css의 inner로 수정 예정 */
      width: 100%;
      margin-top: 100px;
    }

    .best-review-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .review-wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;

      .review {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        overflow: hidden;

        &:first-child {
          grid-column: 1/3;
          grid-row: 1/3;
        }
      }
    }

    .review > img {
      object-fit: cover;
      border-radius: 8px;
      aspect-ratio: 1/1;
    }

    .text-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      gap: 30px;
      padding: 0 10%;
      bottom: -100%;
      background: rgba(255, 255, 255, 0.8);
      transition: 0.3s;
    }

    .review-main {
      padding: 0 10%;
    }

    .review:hover .text-box {
      bottom: 0%;
    }

    .review-text {
      text-align: left;
      line-height: 1.8;
      font-size: 2rem;
      word-break: keep-all;
    }

    .review-sub {
      text-align: left;
      line-height: 1.6;
      font-size: 2rem;
      word-break: keep-all;
    }

    .review-id {
      text-align: center;
      line-height: 2;
      font-size: 1.6rem;
    }

    .review-id::before {
      content: '·';
      margin: 0 10px;
    }
  }
}
