.title {
  display: block;
  width: 100%;
  padding: 3rem 2rem;
  color: var(--border2);
}

.answer-box {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  border: 1px dashed var(--sub-pink);

  .answer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;

    .left-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1.4rem;
      color: var(--border2);

      .answer-title {
        display: flex;
        align-items: start;
      }

      .answer-title::before {
        background: url(../../images/arrowcurve.png) no-repeat left top / contain;
        background-size: 16px 16px;
        content: '답변 :';
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-right: 1rem;
        padding-left: 2.4rem;
        color: var(--text-black);
        border: 1px solid red;
        width: 120px;
      }
    }
  }
  .answer-date {
    color: var(--border3);
  }
}

.post-list {
  display: block;
  width: 100%;

  .post-bar {
    /* height: 60px; */
    padding: 2rem 5rem;
    border-top: 1px solid var(--bg);

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .left-box {
        display: flex;
        align-items: center;
        gap: 4.7rem;

        .left-inner {
          display: flex;
          align-items: center;
          gap: 0.9rem;

          .text {
            color: var(--text-gray);
          }

          .tab {
            color: var(--border3);
          }
        }

        .title-box {
          color: var(--text-gray);
        }
      }
    }

    .date-box {
      color: var(--border3);
    }

    &:hover {
      .left-box {
        .left-inner {
          .text {
            color: var(--text-black);
          }
        }
        .title-box {
          color: var(--text-black);
          text-decoration: underline;
        }
      }
    }
  }
}

.button-wrap {
  display: flex;
  justify-content: end;
  padding-top: 1.5rem;
  width: 100%;

  button {
    display: block;
    padding: 1.05rem 4.85rem;
    border: 1px solid var(--text-black);
    border-radius: 4px;
    background-color: var(--text-black);
    color: var(--text-white);
    cursor: pointer;

    &:hover {
      background-color: var(--text-white);
      border: 1px solid var(--text-gray);
      color: var(--text-gray);
    }
  }
}
