@media (max-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }

  h2 span {
    display: block;
    padding: 0.8rem 0 0 0;
  }

  .quote-title {
    display: none;
  }

  .inquiry-container ul {
    display: flex;
    justify-content: center;
    gap: 0;
  }
  .inquiry-container > ul > li {
    display: flex;
    font-size: 1.4rem;
  }

  .inquiry-container ul > li::before {
    margin: 0 0.6rem;
    display: inline-block;
  }

  .inquiry-form {
    max-width: 60rem;
    margin-top: 6rem;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group > label {
    font-size: 1.8rem;
  }

  .form-group input {
    width: 100%;
  }

  .fileupload-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .fileupload-wrap > label {
    font-size: 1.8rem;
  }

  .upload-btn,
  .upload-select {
    display: inline-block;
    vertical-align: middle;
  }

  .check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48rem;
  }
  .check-box > p:last-child {
    display: flex;
    align-items: center;

    a {
      font-size: 1.2rem;
    }
  }

  .apply-btn {
    width: 48rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 2rem;
  }

  h2 span {
    display: block;
    padding: 0.8rem 0 0 0;
  }

  .quote-title {
    display: none;
  }
  .quote-title-wrap > ul {
    display: none;
  }
  .inquiry-form {
    width: 30rem;
    /* max-width: 60rem; */
    margin-top: 2rem;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group > label {
    font-size: 1.8rem;
  }

  .form-group input {
    width: 100%;
  }

  .form-group select {
    width: 100%;
  }
  .apply-btn {
    width: 30rem;
  }

  .check-box {
    display: block;
  }

  .check-box > p:first-child {
    padding-bottom: 2rem;
  }

  .check-box > p:last-child {
    display: flex;
    align-items: center;

    a {
      font-size: 1.2rem;
    }
  }
}
