.inner {
  nav {
    .main-category {
      display: flex;
      justify-content: center;
      gap: 1.2rem;
      padding-bottom: 1.4rem;
      position: relative;

      li {
        a {
          padding: 1rem 1.6rem;
          color: var(--text-black);
        }

        &.active a,
        &:hover a {
          color: var(--main-pink);
        }
      }
    }

    .sub-category {
      margin-top: 1.6rem;
      display: flex;
      justify-content: center;
      gap: 1.2rem;

      li {
        a {
          padding: 1rem 1.6rem;
          color: var(--text-gray);
        }

        &.active a,
        &:hover a {
          color: var(--main-pink);
        }
      }
    }
  }

  .filter-wrap {
    margin-top: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

    .dropdown {
      position: relative;

      .dropBox {
        padding: 0.8rem 2rem;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        background-color: var(--bg);
        color: var(--text-gray);
        cursor: pointer;

        &::after {
          content: '';
          width: 2rem;
          aspect-ratio: 1/1;
          display: inline-block;
          margin-left: 1rem;
          background: url(/images/sort.svg) no-repeat center;
          background-size: contain;
        }

        &:hover {
          color: var(--text-black);
          background: var(--border3);
        }
      }

      .sort-list {
        position: absolute;
        bottom: -14.8rem;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        border-radius: 0.4rem;
        background: var(--bg);
        display: none;

        &.active {
          display: block;
        }

        li a {
          padding: 1rem 2rem;
          display: inline-block;
          color: var(--text-gray);
          width: 100%;
          border-radius: 0.4rem;

          &:hover {
            color: var(--text-black);
            background: var(--border3);
          }
        }
      }
    }

    .search-wrap {
      position: relative;

      input {
        background: var(--bg);
        outline: none;
        border: none;
        width: 30rem;
        height: 4rem;
        padding: 1rem 5rem 1rem 2rem;
        border-radius: 0.4rem;

        &::placeholder {
          font-size: 1.6rem;
        }

        &:focus::placeholder {
          color: transparent;
        }
      }
      .search-icon {
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
        width: 2.4rem;
        aspect-ratio: 1/1;
        background: url(../../images/search-icon.svg) no-repeat center;
      }
    }
  }

  .item-container {
    margin: 4rem 0;
    padding: 0 10px;

    .card-wrap {
      width: 1440px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px 2%;
      justify-content: start;

      .card {
        width: 23%;

        .img-box {
          border-radius: 8px;
          overflow: hidden;
          width: 100%;
          aspect-ratio: 1 / 1;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: 100%;
          }
        }

        .item-title {
          margin-top: 12px;
          padding: 0 0.8rem;

          .badge-wrap {
            display: flex;
            gap: 8px;
            height: 30px;
            margin-top: 8px;

            span {
              padding: 4px 0;
              border-radius: 4px;

              &::after {
                padding: 2px 4px;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              &.best::after {
                content: 'BEST';
                background: var(--sub-blue);
                color: #fff;
                border: 1px solid var(--sub-blue);
              }

              &.new::after {
                content: 'NEW';
                border: 1px solid var(--main-pink);
                color: var(--main-pink);
                background: #fff;
              }

              &.md::after {
                content: 'MD추천';
                border: 1px solid var(--text-black);
                color: var(--text-black);
                background: #fff;
              }

              &.soldout::after {
                content: '품절';
                background-color: var(--main-navy);
                color: #fff;
                border: 1px solid var(--main-navy);
              }
            }
          }

          .card-title {
            margin: 8px 0;
          }

          .price {
            strong {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  .new-item,
  .best-item {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /* background-color: rgba(0, 200, 0, 0.1); */
  }
}

@media (max-width: 1480px) {
  .inner {
    max-width: 100%;
    padding: 0 2%;

    .filter-wrap {
      max-width: 100%;
      padding: 0 2%;
    }
    .item-container {
      .card-wrap {
        .card {
          width: 32%;
        }
      }

      .card-wrap {
        max-width: 100%;
        padding: 0 2%;
      }
    }
  }
}

@media (max-width: 840px) {
  .inner {
    max-width: 100%;
    padding: 0 1%;

    nav {
      .main-category {
        width: fit-content;
        overflow: auto;
        gap: 0.6rem;
        justify-content: start;
        border: 1px solid red;

        li {
          a {
            text-wrap: nowrap;
            padding: 1rem 1.2rem;
          }
        }
      }
    }

    .filter-wrap {
      max-width: 100%;
      padding: 0 1%;
    }
    .item-container {
      .card-wrap {
        .card {
          width: 49%;

          .item-title {
            .card-title.font20 {
              font-size: 14px;
            }

            .badge-wrap {
              .font14.best {
                font-size: 10px;
              }
            }
          }
        }
      }

      .card-wrap {
        max-width: 100%;
        padding: 0 2%;
      }
    }
  }
}
