.item-main-wrap > .inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 54px;
}

/* 슬라이더 프리뷰 메인 */

.item-slider-main {
  position: relative;
}

.item-main-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.item-slider-main > .next-btn-wrap {
  display: flex;
  justify-content: space-between;
}
.item-slider-main a {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-navy);
  border-radius: 50%;
}

.next-btn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40px;
}

.next-btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 40px;
}

.next-btn-left::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/arrow-left.png);
  background-size: cover;
}

.next-btn-right::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/arrow-right.png);
  background-size: cover;
}

.item-slider-main a:hover {
  background: var(--main-blue);
}

/* 슬라이더 프리뷰 썸네일 */

.item-slider {
  display: flex;
  gap: 24px;
}

.item-slider img {
  width: 100%;
}

/* 아이템 상세 item-main-right */

.item-main-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* item-main-top */

.item-main-top-title {
  margin-bottom: 32px;
}

.item-main-top-title > li {
  margin-bottom: 12px;
}

.item-main-top-wrap {
  border-bottom: 1px solid var(--border3);
  padding: 0 0 20px 0;
}

.item-main-top-wrap .item-main-badge > ul {
  display: flex;
  gap: 4px;
}

.item-main-badge > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 20px;
  border-radius: 4px;
  font-weight: 500;
}

.item-main-badge > ul > li:first-child {
  background: var(--bg);
  color: var(--main-navy);
  border: 2px solid var(--main-navy);
}

.item-main-badge > ul > li:last-child {
  background: var(--main-pink);
  color: var(--text-white);
}

.item-main-title {
}
.item-main-price {
  font-weight: 600;
}

.item-main-top-text-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-gray);
}

.item-main-top-text-box span {
  margin-left: 40px;
  font-weight: 500;
}

.item-main-top-bottom .item-main-top-bottom-detail {
  font-size: 16px;
}

/* item-main-select */

.item-main-select-wrap {
  border-bottom: 1px solid var(--border3);
}

.item-main-select {
  margin-bottom: 16px;
}

.item-main-select > p {
  margin-bottom: 12px;
  color: var(--text-gray);
}

.item-main-select ul {
  display: flex;
  gap: 20px;
}

.select-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--border1);
  color: var(--text-gray);
}

.select-btn a:hover {
  background: var(--main-pink);
  color: var(--text-white);
  border: 0px var(--main-pink);
}

.item-main-select span {
  margin-left: 40px;
  font-weight: 500;
}
.select-size-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-main-select input {
  margin-left: 10px;
}

.checkbox {
  color: var(--main-pink);
}

.checkbox-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  width: 183px;
  height: 40px;
  border: 1px solid var(--main-pink);
  border-radius: 4px;
  color: var(--main-pink);
}

.checkbox-btn a:hover {
  background: var(--main-pink);
  color: var(--text-white);
}

.checkbox:last-child {
  line-height: 2.5;
}

/* count-buy */

.count-buy-wrap {
  display: flex;
  gap: 18px;
}

.item-main-buy {
  display: flex;
  align-items: center;
  gap: 36px;

  button {
    border: none;
  }

  .count-num {
    color: var(--text-gray);
  }
}

.count-buy-wrap > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--border1);
  color: var(--text-gray);
}

.count-buy-wrap > a:hover {
  background: var(--main-pink);
  color: var(--text-white);
  border: 0px var(--main-pink);
}

/* 상세페이지 서브메뉴바 */

.item-detail-menubar-wrap {
  max-width: 1440px;
  margin: 40px auto;
  border-top: 1px solid var(--border3);
}
.item-detail-menubar {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 40px 0 12px 0;

  .active {
    color: var(--main-pink);
  }
}

/* <!-- item-detail 상품소개 --> */

.item-main-wrap section {
  margin-bottom: 100px;
}

h2 {
  margin: 80px 0;
  color: var(--text-black);
  text-align: center;
}
/* sub-item-detail */

.detail-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-middle {
  margin: 80px 0;
  text-align: center;

  p {
    margin: 8px 0 32px;
    color: var(--text-black);
    font-weight: 500;
  }

  ul {
    color: var(--text-gray);
    font-weight: 500;
  }
}

.detail-bottom {
  display: flex;
  justify-content: center;
  gap: 10px;

  p {
    margin-bottom: 18px;
    text-align: center;
  }
}

/* item-size */

.pink-text-box {
  margin: 0 auto 80px;
  width: 660px;
  text-align: center;
  background: var(--main-pink);
  color: var(--text-white);
  padding: 32px 200px;
  border-radius: 4px;
}

.size-img-box {
  display: flex;
  justify-content: center;
}

/* item-option */

.option-sq-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;

  h3 {
    color: var(--text-black);
    margin: 50px 0 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    color: var(--text-gray);
  }
}

/* item-guide */

.sub-item-guide > a {
  display: block;
}

.guide-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;

  /* p {
    color: var(--text-black);
    margin: 50px 0 32px;
  } */
}

.guide-90x50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  height: 20rem;
}

.guide-90x50-img {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  margin: 10px;
}

/* item-buyinfo 유의사항 */

.sub-item-buyinfo {
  margin: 80px 0 100px;
}

.sub-item-buyinfo .font16b {
  color: var(--text-black);
}
.sub-item-buyinfo .font16 {
  color: var(--text-gray);
  font-weight: 500;
}

.info-shipping,
.info-refund,
.info-payment {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  gap: 50px;
}

.buyinfo-left {
  text-align: center;
  > img {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.buyinfo-right {
  width: 824px;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 20px;

  li {
    span {
      margin-left: 20px;
    }
  }
}

.shipping-text-long {
  span {
    display: inline;
  }
  p {
    margin-left: 80px;
  }
}

.info-refund > ul > li {
  margin: 0 0 20px 0;
}
.info-refund > ul > li > strong {
  display: block;
}

.refundT {
  margin: 0 0 10px 0;
}

.refund {
  margin: 10px 0;
}

.info-refund > .buyinfo-right p {
  margin: 0 0 8px 0;
}

/* .info-payment > .buyinfo-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.info-payment > .buyinfo-right p {
  margin: 0 0 8px 10px;
}
