.end-wrap {
  height: 600px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.inner {
  margin: 0 auto;
}

.end-text-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.2);
  align-items: center;
  gap: 20px;
}

.end-text-box {
  color: var(--text-black);
}

.end-text-box > strong {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-black);
}

.end-text-box > span:last-of-type {
  margin-top: -12px;
}

.log-in-btn {
  margin: 130px auto 0;
  display: block;
  width: 400px;
  height: 50px;
  background: var(--main-blue);
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  color: white;
  border: 1px solid var(--text-black);
}

.log-in-btn:hover {
  background: #1c354f;
}

.log-in-btn > a {
  display: block;
  width: 100%;
}
