body:has(.top-banner) .end-wrap {
  height: calc(100vh - 488px);
  min-height: 400px;
  display: flex;

  padding: 2rem;
}

body:not(:has(.top-banner)) .end-wrap {
  height: calc(100vh - 456px);
  min-height: 400px;
  display: flex;

  padding: 2rem;
}

.end-wrap {
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.end-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.end-text-box {
  color: var(--text-black);
}

.end-text-box > strong {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-black);
}

.end-text-box > span:last-of-type {
  margin-top: -1.2rem;
}

.log-in-btn {
  width: 100%;
  max-width: 40rem;
  max-height: 5rem;
  background: var(--main-blue);
  border-radius: 0.4rem;
  text-align: center;
  line-height: 5rem;
  color: white;
  border: 0.1rem solid var(--text-black);
}

.log-in-btn:hover {
  background: #1c354f;
}

.log-in-btn > a {
  display: block;
  width: 100%;
}

/* 미디어 쿼리 */
/* 1040px */
@media (max-width: 1020px) {
  .end-text-box > strong {
    font-size: 3.5rem;
  }
  .end-text-box > span:first-of-type {
    text-align: center;
    word-break: keep-all;
    font-size: 2.5rem;
  }
  .log-in-btn {
    max-width: 35rem;
  }
}

/* 480px */
@media (max-width: 480px) {
  .end-text-box > span:first-of-type {
    font-size: 2.7rem;
    max-width: 37rem;
    max-width: 39rem;
    text-align: center;
  }
  .end-text-box > span:last-of-type,
  .end-text-box > span:nth-of-type(2) {
    display: none;
  }
}
