.log-in-wrap {
  height: 100vh;
  .log-inner {
    max-width: 48rem;
    height: 76.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
  }

  .log-box {
    width: 100%;
  }
  /* input 공통사항 */
  .log-box input {
    border: none;
    border-radius: 0.4rem;
    background: var(--bg);
    &:focus::placeholder {
      color: transparent;
    }
  }
  .log-box > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .log-box > form > input {
    padding-left: 3rem;
    max-width: 48rem;
    height: 5rem;
  }
  .keep-box {
    margin-top: 20px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .hidden-check {
      display: none;
    }

    .custom-label {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 4px;
      background-color: var(--bg);
      cursor: pointer;
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        display: inline-block;
      }

      &.login::after {
        content: '로그인 상태 유지하기';
        left: 9rem;
        font-size: 1.4rem;
        color: var(--text-gray);
      }
    }
    .hidden-check:checked + .custom-label {
      background: var(--bg) url('/images/check-pink.png') no-repeat center;
    }
  }

  .custom-checkbox {
    max-width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    background-color: var(--bg);
    background-size: 1.6rem 1.6rem;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .log-in-btn {
    margin-top: 4rem;
    display: block;
    height: 4rem;
    border-radius: 0.4rem;
    background: var(--main-pink);
    color: var(--text-white);
    text-align: center;
  }
  .log-in-btn > a {
    display: inline-block;
    /* border: 1px solid black; */
    line-height: 4rem;
  }
  .log-in-btn:hover {
    background: #c22779;
  }
  .find-box {
    margin-top: 2rem;
    display: flex;
    gap: 2.4rem;
    color: var(--border2);
    padding-right: 3.5rem;
    justify-content: center;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2.5rem;
    gap: 16px;

    h1 {
      width: 160px;
      /* border: 1px solid red; */
      margin-top: 20px;
      /* filter: grayscale(1); */
      opacity: 0.5;
    }

    .container {
      display: flex;
      gap: 0.4rem;
      justify-content: center;

      button {
        background-color: inherit;
      }
    }
  }
  .user-data > .open-modal {
    color: var(--text-gray);
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      color: var(--text-black);
    }
  }
}

/* ----------반응형---------- */
/* 1020px */

/* 768px */
@media (max-width: 768px) {
  .log-in-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .log-inner {
      width: 100%;
      max-width: 48rem;
      height: auto;
      margin: auto;
    }
  }
}

/* 420px */
@media (max-width: 420px) {
  .log-in-wrap {
    .log-inner {
      max-width: 40rem;
    }
  }
}

/* 350px */
@media (max-width: 350px) {
  .log-in-wrap {
    .log-inner {
      max-width: 33rem;
    }
    .keep-box {
      margin-top: 4px;
    }

    .log-in-btn {
      margin-top: 2rem;
    }
  }
}
