.review-end-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .review-inner {
    /* border: 1px solid black; */
    margin: auto;
    max-width: 40rem;
    .textbox {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 3rem;
      .font28b {
        color: var(--text-black);
      }
      .review-end-comment {
        .font18 {
          color: var(--text-black);
          font-weight: 600;
        }
        strong {
          display: inline-block;
          animation: bounce 1s ease infinite;
          color: var(--main-pink);
        }
      }
      .review-end-btn {
        box-sizing: border-box;
        color: var(--text-white);
        background: var(--text-black);
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        border-radius: 0.4rem;
        a {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.review-end-btn:hover > a {
  color: var(--text-black);
  background: white;
  border: 0.1rem solid var(--text-black);
  border-radius: 0.4rem;
}

/* 애니메이션 */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
}

/* 반응형 */
@media (max-width: 350px) {
  .review-end-wrap {
    .review-inner {
      .textbox {
        .font28b {
          font-size: 2.4rem;
        }
        .review-end-comment {
          .font18 {
            font-size: 1.6rem;
          }
          strong {
            font-size: 1.8rem;
          }
          .review-end-btn {
            a {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
